@charset "UTF-8";

body 
{
	display : flex;
	align-items : center;
	justify-content : center;
	flex-direction : column;
}

#profile 
{
	display : flex;
	align-items : center;
	justify-content : center;
	flex-direction : row;
}
h3
{
	color : red;
}

img
{
	border : 2px solid lightgray;
	margin : 30px;
	width  : 100px;
	height : 100px;
}
.user 
{
	border : 2px solid lightgray;
	margin : 2px;
	padding : 2px;
}